html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

td {
  border: 1px solid;
  height: 200px;
  text-align: center;
}

table {
  width: 2000px;
  table-layout: fixed;
  border-collapse: collapse;
}

.cell_modal_btn{
  border-radius: 4px;
  padding: 10px 5px;
  text-align: center;
  color: white;
  margin-bottom: 50px;
  transition-duration: 0.4s;
}

.cell_modal_btn_bite{
  background-color: #FF1744; /* Red A400 */
}

.cell_modal_btn_bite:hover {
  background-color: #D50000; /* Red A700 */
  cursor: pointer;
}

.cell_modal_btn_info{
  background-color: #00E676; /* Green A400 */
}

.cell_modal_btn_info:hover {
  background-color: #00C853; /* Green A700 */
  cursor: pointer;
}