html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

td {
  border: 1px solid;
  height: 200px;
  text-align: center;
}

table {
  width: 2000px;
  table-layout: fixed;
  border-collapse: collapse;
}

.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner{
  position: relative;
  padding: 32px;
  width: 100px;
  max-width: 640px;
  background-color: #fff;
}

.popup-inner .close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
}